<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-3">
        <!-- Chat History Sidebar -->
        <div class="sidebar">
          <p>Chat History</p>
          <div class="chat-history">
            <div *ngFor="let history of chatHistory">
              <p><strong>Query:</strong> {{ history.query }}</p>
              <p><strong>Answer:</strong> {{ history.answer }}</p>
              <button (click)="deleteChatHistory(history.id)" class="delete-icon">
                🗑️
              </button>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <app-list-errors [errors]="errors"></app-list-errors>
          <form [formGroup]="articleForm">
            <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                <textarea
                  class="form-control"
                  formControlName="body"
                  rows="8"
                  placeholder="Write down your query."
                ></textarea>
              </fieldset>
              <fieldset class="form-group">
                <button
                  class="btn btn-lg pull-xs-right btn-primary"
                  type="button"
                  (click)="submitForm()"
                >
                  Query LLM
                </button>
                <button
                  class="btn btn-lg pull-xs-right btn-secondary"
                  type="button"
                  (click)="clearTextAreas()"
                >
                  Clear
                </button>
              </fieldset>
              <fieldset class="form-group">
                <textarea
                  class="form-control"
                  id="response"
                  name="response"
                  #response
                  formControlName="response"
                  rows="8"
                  placeholder="Response Will be displayed here."
                ></textarea>
              </fieldset>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
